.miniature-displayer{
    display:grid;
    margin: 5%;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}

.miniature{
    text-align: center;
    background-color: black;
    color: wheat;
    justify-self:center;
}

 @media (max-width:800px) {
    
    .miniature-displayer{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:540px) {
    
    .miniature-displayer{
        grid-template-columns: 1fr;
    }
} 

img{
    
    width: 100%;
}

