.miniature-displayer{
    display:flex;
    flex-wrap: wrap;
    padding: 0 10%;
    margin: 20px;
}

.miniature{
    flex-basis: 32%;
    text-align: center;
    background-color: black;
    margin: 10px 0 0 1%;
    color: wheat;
    position: relative;
}

 @media (max-width:800px) {
    
    .miniature{
        flex-basis: 48%;
    }

}

@media (max-width:540px) {
    
    .miniature-displayer
    {
        padding: 0 5px;
    }

    .miniature{
        flex-basis: 100%;
    }
} 

img{
    
    width: 100%;
}

