header {
    display: flex;
    background-color: grey;
    overflow: hidden;
    color: wheat;
    height: 70px;
}

.navbar{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    overflow: hidden;
    background-color: #191919;
}

.navbutton{
    text-decoration: none;
    background-color: transparent;
    height: 100%;   
    border: 0;
    color: wheat;
    min-width: 120px;
}

.navbutton:hover{
    background-color: rgb(175, 175, 175);
}
.navbutton:active
{
    background-color: rgb(253, 253, 253);
}

.navbrand button{
    background-color: black;
    min-width: 200px;
    color: white;
    font-size: 100%;

}

