header {
    display: flex;
    background-color: grey;
    overflow: hidden;
    color: wheat;
    height: 50px;
}

.navbar{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.navitem {
    text-decoration: none;
    height: 100%;   
    background-color: grey;
    border: 0;
    color: wheat;

}

.navitem:hover{
    background-color: rgb(175, 175, 175);
}
.navitem:active
{
    background-color: rgb(180, 35, 35);
}

.navbrand button{
    background-color: black;
    min-width: 200px;
    color: white;
    font-size: 100%;

}

