.miniature-displayer{
    display:flex;
    flex-wrap: wrap;
    background-color: grey;
    justify-content:flex-start;
}

.miniature{
    flex-basis: 32%;
    text-align: center;
    background-color: black;
    margin: 10px 0 0 1%;
    color: wheat;
    position: relative;
}

 @media (max-width:800px) {
    
    .miniature-displayer{
        padding-right: 1%;
    }

    .miniature{
        flex: 48%;
    }
}

@media (max-width:540px) {
    
    .miniature-displayer{
        padding: 0 ;
    }

    .miniature{
        margin: 10px 0;
        flex: 100%;
    }
} 

img{
    
    width: 100%;
}

