:root {
  --HeaderHeight: 10vh;
  --offsetFromHeader: calc(var(--HeaderHeight) * 1.25);
  --navbtnFont: 18px;
  --posX: 0px;
  --posY: 0px;
  --fadeDuration: 0.5s;
  --growShrinkDuration: 0.3s;
  --displayminheight: 500px;
  --borderRadius: 15px;
  --const20px: 20px;
  --const10px: 10px;
  --appbgColor: #212121;
  --sectionbg: #ffffff12;
  --btnbgHover: rgb(175, 175, 175);;
  --btnbgClick:rgb(253, 253, 253);
  --navbarColor: #191919;
  --shadowBox: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#app {
  min-height: 100vh;
  color: rgb(255, 255, 255);
  background-color: var(--appbgColor);
  text-align: center;
  font-size: 100%;
  font-family: sans-serif;
  font-weight: 400;
}


/* UTILS */
.flex {
  display: flex;
  width: 100%;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
  align-content: center;
}

.rg10 {
  row-gap: 10px;
}

.rg20 {
  row-gap: var(--const20px);
}

.cg20 {
  column-gap: var(--const20px);
}

.cg10 {
  column-gap: var(--const10px);
}

.bd-bs1 {
  border: black solid 1px;
}

.bdr-round {
  border-radius: var(--const20px);
}

.spacedAway {
  justify-content: space-between;
}


.grid50-50 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
}

.grid60-40 {
  display: grid;
  grid-template-columns: 55% 45%;
}

.items-ch {
  justify-items: center;
}

.content-cv {
  align-content: center;
}

h2 {
  text-align: center;
}

.hidden{
  display: none;
}

.visible{
  visibility: visible;
}

.fixed{
  position: fixed;
  z-index: 1;
}

.round{
  border-radius: 100%;
}

.opaque{
  opacity: 40%;
}

.center-children{
  justify-items: center;
  align-items: center;
}

/* HEADER */
#navbar {
  display: flex;
  position: fixed;
  background-color: grey;
  box-shadow: 0px 5px 15px 0px black;
  color: wheat;
  height: var(--HeaderHeight);
  width: 100%;
  z-index: 2;
  top: 0;
  background-color: var(--navbarColor);
}

.navbuttons {
 justify-content: space-evenly; 
}

.navbutton {
  text-decoration: none;
  background-color: transparent;
  height: var(--HeaderHeight);
  border: 0;
  color: wheat;
  min-width: 120px;
  font-size: 1.25rem;
  padding: 5px;
}

.navbutton:hover, .btn-dropdown:hover{
  background-color: var(--btnbgHover);
}

.navbutton:active, .btn-dropdown:active {
  background-color: var(--btnbgClick)
}

.navbrand button {
  background-color: black;
  color: white;
  min-width: 250px;
}

.btnlang{
  background-color: transparent;
  max-height: var(--HeaderHeight);
  max-width: var(--HeaderHeight);
  border: 0;
  width: 130%;
  padding-right: 30%;
}

.btnlang img:hover{
  filter: brightness(150%);
  border-radius: 100%;
}

.btnlang img:active{
  border: white solid 1px;;
}

.hamburgerbar{
  justify-content: flex-end;
}

.btn-dropdown{
  border: none; 
  min-height: var(--HeaderHeight);
  background-color: rgb(88, 88, 88);
  min-width: 130px;
}

.btn-dropdown img{
  width: 50%;
  filter: sepia(1);
}

#dropdown{
  background-color: rgb(88, 88, 88);
  box-shadow: var(--shadowBox);
  border-bottom-left-radius: var(--const20px);
  justify-items: center;
}

#dropdown .navbutton{
  width: 100%;
}

#dropdown .btnlang{
  width: 100%;
  padding: 10px;
}

#veil{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

/* BODY */
.section-container {
  padding-top: var(--offsetFromHeader);
  margin: 0 2.5%;
}

.section-bg {
  background-color: var(--sectionbg);
  padding: 2.5% 2.5% 3.5% 2.5%;
  justify-items: center;
  row-gap: 25px;
}

.absbtn{
  position: fixed;
  bottom: 1%;
  right: 1%;
  z-index: 1;
  max-width: 5vw;
  min-width: 80px;
  border: black solid 1px;
  background-color: rgba(128, 128, 128, 0.6);
}

.absbtn:hover{
  filter: brightness(150%);
  background-color: rgba(128, 128, 128);
}

.absbtn:active{
  filter: brightness(200%);
}

/* Intro */
.intro {
  padding: var(--const20px) 10%;
  grid-template-columns: 35% 65%;
  column-gap: 1.5vw;
  padding: 2vw;
  align-items: center;
}

.intro-font {
  font-size: 1.8rem;
}

.intro-txt-container {
  row-gap: 40px;
  align-content: center;
  text-align: left;
}

.meicon {
  border-radius: 100%;
}

/* DISPLAYER */
.productdisplayer {
  display: grid;
  width: 100%;
  gap: var(--const20px);
}

.miniature-container {
  display: flex;
  min-height: 100%;
  max-height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 1.3em
}

.miniature {
  max-height: 100%;
  width: 100%;
  display: grid;
  border: 1.5px solid rgb(0, 0, 0);
  border-radius: 15px;
  overflow: hidden;
  box-shadow: var(--shadowBox);
}

img {
  width: 100%;
}

.miniature-selected {
  cursor: pointer;
  box-shadow: 0px 0px 15px 2px rgba(255, 255, 255, 0.884);
  animation: shrink 0.3s forwards, highlight 1s infinite;
  border-color: rgb(233, 233, 233);
}

.miniature-restore-anim {
  animation: grow var(--growShrinkDuration) forwards;
}

@keyframes highlight {
  50% {
    box-shadow: 0px 0px 18px 6px rgba(255, 255, 255, 0.884);
  }
}

@keyframes shrink {
  from {
    height: 100%;
    width: 100%;
    font-size: 100%;
  }

  to {
    height: 90%;
    width: 90%;
    font-size: 90%;
  }
}

@keyframes grow {
  from {
    height: 90%;
    width: 90%;
    font-size: 90%;
  }

  to {
    height: 100%;
    width: 100%;
    font-size: 100%;
  }
}

.miniature:active {
  cursor: default;
  filter: brightness(50%);
  border-color: white;
}

.miniature-details {
  height: 70px;
  padding: 10px 5px;
  display: grid;
  background-color: black;
  color: wheat;
}

/* POPUP */
.fadeout {
  animation: fadeout var(--fadeDuration) forwards;
}

.fadein {
  animation: fadein var(--fadeDuration) forwards;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  fron {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.product-info-panel {
  column-gap: var(--const20px);
  justify-items: center;
  background-color: rgb(46, 45, 45);
  padding: var(--const20px);
  box-shadow: 0 0 10px 0px black
}

.product-visuals {
  align-self: center;
  height: 100%;
  width: 100%;
}

.product-visuals img {
  width: 65%;
}

.smallimgs_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
}

.smallimgs_container img {
  width: 100%;
}

.product-description {
  max-width: 100%;
  padding-right: var(--const20px);
  column-gap: var(--const20px);
  justify-items: center;
  align-items: center;
}

.product-description-text {
  text-align: left;
  font-size: 1rem;
  line-height: 1.25;
}

.btncontainer {
  justify-content: space-evenly;
  width: 100%;
  max-height: 50px;
}

.productbtn {
  text-decoration: none;
  border-radius: 25px;
  border: black 1px solid;
  color: black;
  background-color: grey;
  font-size: 18px;
  padding: 10px;
  min-width: 100px;
}

.btngotoproduct {
  color: black;
  background-color: rgb(58, 160, 63);
}

.btnreturntomenu {
  color: black;
  background-color: rgb(184, 85, 61);
}

.productbtn:hover {
  background-color: rgb(207, 207, 207);
}

iframe {
  width: 100%;
  aspect-ratio: 16/9;
  align-self: center;
  border-color: black solid 10px;
  border-radius: var(--const20px);
}

/* FORM */
.text {
  justify-content: left;
}

.form-container {
  display: grid;
  padding: 5% 20%;
}

form {
  display: grid;
  row-gap: 5px;
  width: 80%;
  font-size: var(--const20px);
}

form label {
  justify-self: left;
}

form input {
  height: 25px;
}

.btnsubmit {
  justify-self: center;
}

.error {
  color: red
}

input,
textarea {
  border-radius: 5px;
  border: solid black 1px;
  padding: 5px;
}

.invalidInput {
  border: solid red 2px;
}

.errorCorrected {
  color: green;
}

/* FOOTER */
footer {
  background-color: var(--navbarColor);
  bottom: 0;
  margin-top: var(--offsetFromHeader);
  height: var(--HeaderHeight);
}

/* higher than 1200px----------------------------------------- higher than 1200px*/
@media (min-width:1201px) {

  h1 {
    font-size: 2.8rem;
  }

  .intro-font {
    font-size: 1.8rem;
  }

  .productdisplayer {
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
  }

  .textsize {
    font-size: 0.91em;
  }

  .meicon {
    max-width: 20vw;
  }

  /*product*/

  h2 {
    font-size: 2.4rem;
  }

  .product-description-text {
    font-size: 1.4rem;
  }

  .productbtn {
    font-size: 1.4rem;
  }
}

/* 1200px-------------------------------------------- 1200px*/
@media (max-width:1200px) {

  h1 {
    font-size: 2.5rem;
  }

  .productdisplayer {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
  }

  .intro {
    grid-template-columns: 40% 1fr;
    column-gap: 2vw;
    font-size: 1.2rem;
  }

  .meicon {
    max-width: 350px;
  }

  .intro-font {
    font-size: 1.65rem;
  }

  .textsize {
    font-size: 1em;
  }

  /*Product*/
  h2 {
    font-size: 2rem;
  }

  .product-description-text {
    font-size: 1.3rem;
  }

  .productbtn {
    font-size: 1.3rem;
  }
}

/* 1000px-------------------------------------------- 1000px*/
@media (max-width:1000px) {

  .navbrand button{
    min-width: 200px;
  }

  .section-container {
    margin-left: 2%;
    margin-right: 2%;
  }

  h1 {
    font-size: 2.2rem;
  }

  .textsize {
    font-size: 0.8em;
  }

  .intro {
    grid-template-columns: 40% 1fr;
    column-gap: 2vh;

    font-size: 1.2rem;
  }

  .intro-font {
    font-size: 1.5rem;
  }

  .meicon {
    max-width: 400px;
  }

  /*Product*/
  .product-info-panel {
    grid-template-columns: 1fr;
    row-gap: var(--const10px);
  }

  .product-visuals {
    grid-template-columns: 70% 30%;
    column-gap: 10px;
  }

  .smallimgs_container {
    grid-template-columns: 1fr;
    row-gap: 10px;
    padding: 0 5%;
  }

  .product-description-text {
    font-size: 1.2rem;
  }

  .productbtn {
    font-size: 1.2rem;
  }

}

/* 800px-------------------------------------------- 800px*/
@media (max-width:800px) {

  .navbrand button{
    min-width: 150px;
  }

  h1 {
    font-size: 2rem;
  }

  .section-container {
    margin-left: 1%;
    margin-right: 1%;
  }

  .productdisplayer {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
  }

  .intro {
    grid-template-columns: 1fr;
    row-gap: 2.5vh;
  }

  .meicon {
    min-width: 250px;
    max-width: 40%;
  }

  .intro-font {
    font-size: 1.3rem;
  }

  .textsize {
    font-size: 0.9em;
  }

  /*Product*/


  .product-info-panel {
    padding: 2%;
  }

  .product-visuals {
    grid-template-columns: 1fr;
    column-gap: 10px;
  }

  .smallimgs_container {
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
  }

  .product-description-text {
    font-size: 1.2rem;
  }

  .productbtn {
    font-size: 1.2rem;
  }

}

/* 600px-------------------------------------------- 600px*/
@media (max-width:600px) {

  .navbrand button{
    min-width: 200px;
  }

  h1 {
    font-size: 1.8rem;
  }

  .meicon {
    min-width: 200px;
    max-width: 50%;
  }

  .intro-font {
    font-size: 1.2rem;

  }

  .textsize {
    font-size: 0.8em;
  }

  /* product */

  h2 {
    font-size: 1.5rem;
  }

  .product-description-text {
    font-size: 1.1rem;
  }

  .productbtn {
    font-size: 1.1rem;
  }
}

/* 420px-------------------------------------------- 420px*/
@media (max-width:360px) {

  .navbutton{
    font-size: 1rem;
  }

  .navbrand button{
    min-width: 150px;
  }

  h1 {
    font-size: 1.8rem;
  }

  .productdisplayer {
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
  }

  .textsize {
    font-size: 1rem;
  }
}